<div class="card">
  <div class="card-content">
    <h5><%= "#{@address.recipient}'s Address Information" %></h5><hr><br>

    <p><b>Recipient: </b><%= @address.recipient %></p><br>
    <p><b>Street 1: </b><%= @address.street_1 %></p><br>
    <p><b>Street 2: </b><%= @address.street_2 %></p><br>
    <p><b>State: </b><%= "#{@address.city}, #{@address.state} #{@address.zip}" %></p><br>


    </div>
</div>