<div class="card">
  <div class="card-content">
      <% if logged_in? %>
            <% if current_user.role == "admin" %>
              <%= render :partial => "featured_admin_items", locals: {items: @featured_item, state: 'active'} %>
              <%= render :partial => "other_admin_items", locals: {items: @other_item, state: 'active'} %>
              <%= render :partial => "partials/add_new_object", locals: {model_name: 'item'} %>
            <% else %>
              <%= render :partial => "featured_items", locals: {items: @featured_item, state: 'active'} %>
              <%= render :partial => "other_items", locals: {items: @other_item, state: 'active'} %>
            <% end %>
      <% else %>
        <%= render :partial => "featured_items", locals: {items: @featured_item, state: 'active'} %>
        <%= render :partial => "other_items", locals: {items: @other_item, state: 'active'} %>
      <% end %>

  </div>
</div>